<div ng-controller="AdminController" class="container-fluid">
    <div class="row">
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            <h1 class="page-header">Admin</h1>
            <div class="table-responsive">
                <table class="table table-striped">
                    <thead>
                    <tr>
                        <th>
                            <span ng-if="sortField == 'username'">
                                <span ng-if="!sortAsc" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                <span ng-if="sortAsc" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </span>
                            <span ng-click="sortBy('username')">
                                Username
                            </span>
                        </th>
                        <th>
                            Password
                        </th>
                        <th>
                            <span ng-if="sortField == 'firstName'">
                                <span ng-if="!sortAsc" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                <span ng-if="sortAsc" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </span>
                            <span ng-click="sortBy('firstName')">
                                First Name
                            </span>
                        </th>
                        <th>
                            <span ng-if="sortField == 'lastName'">
                                <span ng-if="!sortAsc" class="glyphicon glyphicon-triangle-top" aria-hidden="true"></span>
                                <span ng-if="sortAsc" class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                            </span>
                            <span ng-click="sortBy('lastName')">
                                Last Name
                            </span>
                        </th>
                        <th>
                            Roles
                        </th>
                        <th>
                            Action
                        </th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td><input type="text" class="form-control" placeholder="Username" ng-model="username"></td>
                        <td><input type="text" class="form-control" placeholder="Password" ng-model="password"></td>
                        <td><input type="text" class="form-control" placeholder="First Name" ng-model="firstName"></td>
                        <td><input type="text" class="form-control" placeholder="Last Name" ng-model="lastName"></td>
                        <td><input type="text" class="form-control" placeholder="Role1, Role2" ng-model="rolesString"></td>
                        <td>
                            <span class="glyphicon glyphicon-plus" aria-hidden="true" ng-click="addUser()"></span>
                            <span class=" glyphicon glyphicon-ok" aria-hidden="true" ng-click="updateUser()"></span>
                        </td>
                    </tr>
                    <tr ng-repeat="user in users">
                        <td>{{user.username}}</td>
                        <td></td>
                        <td>{{user.firstName}}</td>
                        <td>{{user.lastName}}</td>
                        <td>{{getRoles(user)}}</td>
                        <td>
                            <span class="glyphicon glyphicon-remove" aria-hidden="true" ng-click="deleteUser($index)"></span>
                            <span class="glyphicon glyphicon-cog" aria-hidden="true" ng-click="selectUser($index)"></span>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>
    </div>
</div>