<div ng-controller="HomeController">
    <!-- Page Heading -->
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">
                Home
                <small ng-if="user">Following Information</small>
                <small ng-if="!user">Login / Register</small>
            </h1>
        </div>
    </div>
    <!-- /.row -->

    <div class="row">
        <div ng-if="user" class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        Player Name
                    </th>
                    <th>
                        <span class="glyphicon glyphicon-triangle-bottom" aria-hidden="true"></span>
                        Action
                    </th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td><input type="text" class="form-control" placeholder="Player Name" ng-model="username"></td>
                    <td>
                        <button ng-click="addFollowing()" type="button" class="btn btn-primary btn-sm">Add</button>
                        <button ng-click="updateFollowing()" type="button" class="btn btn-warning btn-sm">Update</button>
                    </td>
                </tr>
                <tr ng-repeat="player in following">
                    <td>{{player.username}}</td>
                    <td>
                        <button ng-click="deleteFollowing($index)" type="button" class="btn btn-danger btn-sm">Delete</button>
                        <button ng-click="selectFollowing($index)" type="button" class="btn btn-default btn-sm">Select</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <div ng-if="!user">
            <!-- LOGIN -->
            <div class="main">
                <form class="form-horizontal" ng-submit="login(username, password)">
                    <div ng-if="error" class="alert alert-danger">{{error}}</div>
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="username">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="password">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Login</button>
                        </div>
                    </div>
                </form>
                <hr>
                <form class="form-horizontal" ng-submit="register(registerUsername, registerPassword, registerPassword2)">
                    <div ng-if="registerError" class="alert alert-danger">{{registerError}}</div>
                    <div class="form-group">
                        <label for="inputUsername" class="col-sm-2 control-label">Username</label>
                        <div class="col-sm-10">
                            <input type="text" class="form-control" id="inputUsername" placeholder="Username" ng-model="registerUsername">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Password" ng-model="registerPassword">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-sm-2 control-label">Repeat Password</label>
                        <div class="col-sm-10">
                            <input type="password" class="form-control" id="inputPassword" placeholder="Repeat Password" ng-model="registerPassword2">
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-default">Register</button>
                        </div>
                    </div>
                 </form>
            </div>
        </div>
    </div>
</div>